.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #83888F;
}

.header__list-item + .header__list-item {
    margin-left: 33px;   
}


.header__link:hover {
    color: #0000ff;
}
.header__link:active {
    color: #0000ff;
    box-shadow: 3px 3px 10px 5px #eee5cd;
}